Complete-Python-Bootcamp:

http://nbviewer.jupyter.org/github/jmportilla/Complete-Python-Bootcamp/tree/master/

Resources for More Basic Practice
Section 3, Lecture 26
Before you begin your assessment, I wanted to point out some helpful links for practice:

Basic Practice:

http://codingbat.com/python

More Mathematical (and Harder) Practice:

https://projecteuler.net/archives

List of Practice Problems:

http://www.codeabbey.com/index/task_list

A SubReddit Devoted to Daily Practice Problems:

https://www.reddit.com/r/dailyprogrammer

A very tricky website with very few hints and touch problems (Not for beginners but still interesting)

http://www.pythonchallenge.com/

In [4]:
print('hello world')

hello world

In [5]:
print('Shit+Enter will run a cell')

Shit+Enter will run a cell

In [7]:
print('Tab will show a pop up of the methods on an oject')

Tab will show a pop up of the methods on an oject

In [8]:
print('Shift+Tab will show help pop up for docstring')

Shift+Tab will show help pop up for docstring

In [9]:
# This is a comment

In [10]:
'''
Larger 
multiline
comment
'''

'\nLarger \nmultiline\ncomment\n'

In [1]:
s = 'Hello World'

In [2]:
s [:3]

'Hel'

In [3]:
s [2:]

'llo World'

In [4]:
s[:-1]

'Hello Worl'

In [5]:
s[::2]

'HloWrd'

In [6]:
s[::-1]

'dlroW olleH'

In [7]:
s[-1::]

'd'

In [8]:
s + ' concatenate me!'

'Hello World concatenate me!'

In [9]:
s = s + ' concatenate me!'

In [10]:
s

'Hello World concatenate me!'

In [11]:
letter = 'z'

In [12]:
letter*10

'ZZZZZZZZZZ'

In [16]:
len(letter*(10+6))

16

In [17]:
s = 'Hello'

In [18]:
s

'Hello'

In [19]:
s.upper()

'HELLO'

In [20]:
s.lower()

'hello'

In [26]:
s.split('e')

['H', 'llo']

In [1]:
print('This is a string')

This is a string

In [2]:
s = 'String'

In [5]:
x = 13.13
print('Please my variable here: %s' %(x))

Please my variable here: 13.13

In [6]:
x

13.13

In [8]:
print('Floating point number: %1.5f' %(13.145))

Floating point number: 13.14500

In [9]:
print('Floating point number: %25.5f' %(13.145))

Floating point number:                  13.14500

In [10]:
print('Convert to string %r' %(123))

Convert to string 123

In [11]:
print('Convert to string %s' %(123))

Convert to string 123

In [13]:
print('First: %s, Second: %s, Third: %s' %('hi!','two',3))

First: hi!, Second: two, Third: 3

In [14]:
print('First: %s, Second: %s' %(2,2))

First: 2, Second: 2

In [17]:
print ('First: {x} Second: {y} Third: {x}'.format(x='inserted', y='two!'))

First: inserted Second: two! Third: inserted

In [18]:
from __future__ import print_function

In [19]:
print('Hello')

Hello

In [20]:
class Data(object):

    def __str__(self):
        return 'str'

    def __repr__(self):
        return 'repr'

In [28]:
'{0!s} {0!r}'.format(Data())

'str repr'

In [29]:
my_list = [1,2,3]

In [30]:
my_list

[1, 2, 3]

In [31]:
my_list = ['string', 23, 1.2, 'o']

In [32]:
my_list

['string', 23, 1.2, 'o']

In [33]:
len(my_list)

4

In [34]:
my_list = ['one','two','three', 4,5]

In [35]:
my_list[0]

'one'

In [36]:
my_list[1:]

['two', 'three', 4, 5]

In [37]:
my_list[:3]

['one', 'two', 'three']

In [39]:
'hello' + ' world'

'hello world'

In [41]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [42]:
my_list

['one', 'two', 'three', 4, 5]

In [43]:
my_list = my_list + ['permanent add']

In [44]:
my_list

['one', 'two', 'three', 4, 5, 'permanent add']

In [45]:
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'permanent add',
 'one',
 'two',
 'three',
 4,
 5,
 'permanent add']

In [48]:
l = [1,2,3]

In [49]:
l

[1, 2, 3]

In [50]:
l.append('append me!')

In [51]:
l

[1, 2, 3, 'append me!']

In [52]:
l.pop()

'append me!'

In [53]:
l

[1, 2, 3]

In [64]:
x = l.pop(0)

In [61]:
l = [1,2,3]

In [65]:
x

1

In [66]:
l

[2, 3]

In [67]:
l[3]

IndexError: list index out of range

In [68]:
l[1]

3

In [69]:
new_list = ['a','e','x','b','c']

In [71]:
new_list.reverse()

In [72]:
new_list

['c', 'b', 'x', 'e', 'a']

In [73]:
new_list.sort()

In [74]:
new_list

['a', 'b', 'c', 'e', 'x']

In [78]:
l_1 = [1,2,3]

In [84]:
l_2 = [4,5,6]
l_3 = [7,8,9]

In [85]:
matrix = [l_1,l_2,l_3]

In [86]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [90]:
matrix[0][2]

3

In [91]:
matrix[1][1]

5

In [92]:
matrix[2][0]

7

In [93]:
first_col = [row[0] for row in matrix]

In [94]:
first_col

[1, 4, 7]

In [95]:
second_col = [rox[1] for rox in matrix]

In [96]:
third_col = [rox[2] for rox in matrix]

In [97]:
print(first_col,second_col,third_col)

[1, 4, 7] [2, 5, 8] [3, 6, 9]

In [98]:
l

[2, 3]

In [99]:
l = [1,2,3]

In [100]:
l

[1, 2, 3]

In [101]:
my_dict = {'key1':'value','key2':'value2'}

In [102]:
my_dict['key1']

'value'

In [103]:
my_dict = {'k1':123, 'k2':3.4, 'k3':'string'}

In [109]:
my_dict['k3'][::-1].upper()

'GNIRTS'

In [110]:
my_dict['k1'] - 120

3

In [111]:
my_dict['k1'] = my_dict['k1'] - 120

In [112]:
my_dict

{'k1': 3, 'k2': 3.4, 'k3': 'string'}

In [114]:
my_dict['k1'] = my_dict['k1'] + 100

In [118]:
my_dict['k1'] +=100

In [119]:
my_dict['k1']

303

In [120]:
d = {}

In [121]:
d

{}

In [122]:
d['animal'] = 'Dog'

In [123]:
d

{'animal': 'Dog'}

In [124]:
d['answer'] = 42

In [125]:
d

{'animal': 'Dog', 'answer': 42}

In [127]:
d = {'k1': {'nestkey':{'subnest':'value'}}}

In [128]:
d

{'k1': {'nestkey': {'subnest': 'value'}}}

In [130]:
d['k1']['nestkey']['subnest'].upper()

'VALUE'

In [131]:
d = {}

In [133]:
d['k1'] = 1

In [134]:
d['k2'] = 2

In [135]:
d['k3'] = 3

In [136]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [137]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [139]:
d.values()

dict_values([1, 2, 3])

In [141]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [142]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [143]:
l = [1,2,3]

In [144]:
t = (1,2,3)

In [145]:
len(t)

3

In [146]:
t = ('one',2)

In [147]:
t[0]

'one'

In [148]:
t[1]

2

In [149]:
t[-1]

2

In [150]:
t.index('one')

0

In [151]:
t.index(2)

1

In [152]:
t.count('one')

1

In [153]:
t = (1,1,2,3)

In [154]:
t.count(1)

2

In [155]:
l

[1, 2, 3]

In [156]:
t

(1, 1, 2, 3)

In [157]:
t = (1,2,3)

In [158]:
t

(1, 2, 3)

In [159]:
l[0] = 's'

In [160]:
l

['s', 2, 3]

In [161]:
t

(1, 2, 3)

In [162]:
t[0]

1

In [163]:
t[0] = 's'

TypeError: 'tuple' object does not support item assignment

In [164]:
pwd

'/Users/lg2538/Documents/CI-Repo/Python'

In [165]:
f = open('hello.txt')

In [166]:
f.read()

'Hello world!\n'

In [168]:
f.read()

''

In [169]:
f.seek(0)

0

In [171]:
f.read()

'Hello world!\n'

In [172]:
f.seek(0)

0

In [173]:
f.readlines()

['Hello world!\n']

In [174]:
%%writefile new.txt
First line
Second line

Writing new.txt

In [180]:
for words in open('new.txt'):
    print(words)

First line

Second line

In [183]:
f.read()

''

In [184]:
f.seek(0)

0

In [185]:
f.read()

'Hello world!\n'

In [186]:
g = open('new.txt')

In [187]:
g

In [188]:
g.read()

'First line\nSecond line'

In [189]:
x = set()

In [190]:
x

set()

In [191]:
x.add(1)

In [192]:
x

{1}

In [193]:
x.add(2)

In [194]:
x

{1, 2}

In [195]:
x.add(1)

In [196]:
l = [1,1,1,2,2,2,2,3,3,3,4]

In [197]:
set(l)

{1, 2, 3, 4}

In [198]:
a = True

In [199]:
a

True

In [200]:
1>2

False

In [201]:
11>2

True

In [202]:
b = None

In [203]:
b

In [204]:
b = 'a'

In [205]:
b

'a'

In [208]:
8328 + 10905

19233

In [210]:
a = [33 + 1146 + 1031 + 1188 + 1207 + 530 + 1177 + 314 + 554 + 830 + 48 + 114 + 160 + 763 + 200 + 712 + 750 + 14 + 663 + 1174 + 277 + 1137 + 298 + 934 + 447 + 1259 + 535 + 504 + 1115 + 29 + 199 + 53 + 1166 + 1220]

In [211]:
a

[21781]

In [212]:
2 == 2

True

In [213]:
1==1

True

In [214]:
1 == 0

False

In [215]:
2 != 1

True

In [216]:
2 != 2

False

In [218]:
2 <> 1  #<> no longer exists in Python 3

SyntaxError: invalid syntax (<ipython-input-218-c435d84a2b2d>, line 1)

In [219]:
2 > 1

True

In [220]:
2 > 4

False

In [221]:
2 < 4

True

In [222]:
2 < 1

False

In [223]:
2 >= 2

True

In [224]:
2 >= 1

True

In [225]:
2 <= 10

True

In [226]:
2 <= 2

True

In [227]:
1 < 2

True

In [228]:
2 < 3

True

In [229]:
1 < 2 < 3

True

In [230]:
1 < 2 and 2 < 3

True

In [231]:
3 > 2

True

In [232]:
1 < 3

True

In [233]:
1 < 3 > 2

True

In [234]:
1 < 3 and 3 > 2

True

In [235]:
1 == 2

False

In [236]:
2 < 3

True

In [237]:
1 == 2 or 2 > 1

True

In [238]:
1 == 1 or 100 == 1

True

In [239]:
1 == 2 or 100 == 1

False

In [243]:
if True:
    print('It was True')

It was True

In [249]:
x = True

if x:
    print('x was True')
else: 
    print('I will print when x is anything not True')

x was True

In [254]:
loc = 'Mall'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the Bank')
elif loc == 'Mall':
    print('Welcome to the Mall')
else: 
    print('Where are you?')

Welcome to the Mall

In [255]:
person = 'Sam'

if person == 'Sam':
    print('Hi Sam!')
else: 
    print("What's your name?")

Hi Sam!

In [256]:
l = [1,2,3,4,5]

In [257]:
l

[1, 2, 3, 4, 5]

In [276]:
for num in l:
    print('somthing!')

somthing!
somthing!
somthing!
somthing!
somthing!

In [264]:
#MODULO

In [265]:
10 % 3

1

In [266]:
18 % 7

4

In [267]:
4 % 2

0

In [281]:
for num in l:
    if num % 2 == 0:
        print('Fizz')
    elif num % 3 == 0:
            print('Buzz')
    else:
            print ('Odd number!')

Odd number!
Fizz
Buzz
Fizz
Odd number!

In [312]:
for x in range(1,101):
    s = ''
    if x % 3:
        s += 'Fizz'
    if x % 5:
        s += 'Buzz'
    if s == '':
        s =x
    print(s)

FizzBuzz
FizzBuzz
Buzz
FizzBuzz
Fizz
Buzz
FizzBuzz
FizzBuzz
Buzz
Fizz
FizzBuzz
Buzz
FizzBuzz
FizzBuzz
15
FizzBuzz
FizzBuzz
Buzz
FizzBuzz
Fizz
Buzz
FizzBuzz
FizzBuzz
Buzz
Fizz
FizzBuzz
Buzz
FizzBuzz
FizzBuzz
30
FizzBuzz
FizzBuzz
Buzz
FizzBuzz
Fizz
Buzz
FizzBuzz
FizzBuzz
Buzz
Fizz
FizzBuzz
Buzz
FizzBuzz
FizzBuzz
45
FizzBuzz
FizzBuzz
Buzz
FizzBuzz
Fizz
Buzz
FizzBuzz
FizzBuzz
Buzz
Fizz
FizzBuzz
Buzz
FizzBuzz
FizzBuzz
60
FizzBuzz
FizzBuzz
Buzz
FizzBuzz
Fizz
Buzz
FizzBuzz
FizzBuzz
Buzz
Fizz
FizzBuzz
Buzz
FizzBuzz
FizzBuzz
75
FizzBuzz
FizzBuzz
Buzz
FizzBuzz
Fizz
Buzz
FizzBuzz
FizzBuzz
Buzz
Fizz
FizzBuzz
Buzz
FizzBuzz
FizzBuzz
90
FizzBuzz
FizzBuzz
Buzz
FizzBuzz
Fizz
Buzz
FizzBuzz
FizzBuzz
Buzz
Fizz

In [277]:
l

[1, 2, 3, 4, 5]

In [279]:
list_sum = 0

for num in l:
    list_sum = list_sum + num

print(list_sum)

15

In [282]:
s = 'this is a string!'

In [285]:
for letter in s:
    print(letter)

t
h
i
s

i
s

a

s
t
r
i
n
g
!

In [287]:
tup = (1,2,3,4,5)

for item in tup: 
    print(item)

1
2
3
4
5

In [291]:
l = [(2,4),(6,8),(10,12)]

In [293]:
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [297]:
for (t1,t2) in l:
    print(t2+t1)

6
14
22

In [298]:
d = {'k1':1,'k2':2,'k3':3}

In [299]:
for item in d: 
    print(item)

k1
k2
k3

In [305]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [317]:
x = 0 

while x < 10:
    print('x is currently: ', x)
    x += 1

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9

In [319]:
x = 0

while x <10:
    print('x is currently: ',x)
    x += 1
else:
    print('All done!')

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9
All done!

In [320]:
#break continue and pass

In [2]:
x = 0 

while x < 10:
    print('x is currently: ',x)
    print('x is still less than 10, adding 1 to x')
    x += 1
    
    if x == 3:
        print('Hey, x is equal to 3!')
        break
    else:
        print('continuing....')
        continue

x is currently:  0
x is still less than 10, adding 1 to x
continuing....
x is currently:  1
x is still less than 10, adding 1 to x
continuing....
x is currently:  2
x is still less than 10, adding 1 to x
Hey, x is equal to 3!

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
x = list(range(0,10))

In [11]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
type(x)

list

In [20]:
start = 0 
stop = 20 
list(range(start,stop,3))

[0, 3, 6, 9, 12, 15, 18]

In [21]:
l = [1,2,3,4,5]

In [27]:
for num in range(1,6):
    print(num)

1
2
3
4
5

In [33]:
l = []

for letter in 'word':
    l.append(letter)
    
print(l)

['w', 'o', 'r', 'd']

In [ ]:
lst = [letter for letter in 'word']

In [ ]:
lst

x^2 for x in range(0,10)

In [38]:
lst = [x**2 for x in range(0,11)]

In [39]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
lst = [number for number in range(11) if number % 2 == 0]

In [42]:
lst = []

for number in range(11):
    if number % 2 == 0:
        lst.append(number)

In [43]:
lst

[0, 2, 4, 6, 8, 10]

In [47]:
celsius = [0,10,20.1,34.5]

fahrenheit = [ (temp * (9/5) + 32)for temp in celsius]

In [48]:
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [53]:
#final result is x**4 for number in range(11)
lst = [x**2 for x in [x**2 for x in range(11)]]

In [54]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [1]:
l = [1,2,3,4,5]

In [2]:
l.append(6)

In [3]:
l

[1, 2, 3, 4, 5, 6]

In [5]:
l.count(3)

1

In [6]:
help(l.count)

Help on built-in function count:

count(...) method of builtins.list instance
    L.count(value) -> integer -- return number of occurrences of value

In [15]:
def my_addition_func(arg1,arg2):
    """
    here is my docstring
    """
    print(arg1+arg2)

In [14]:
my_addition_func(1,2)

3

In [18]:
def greeting(name):
    print('Hello '+name)

In [20]:
greeting('Jose')

Hello Jose

In [21]:
def add_num(num1,num2):
    return num1+num2

In [24]:
x = add_num('one','two')

In [25]:
x

'onetwo'

In [33]:
def is_prime(num):
    """
    Input: A number
    Output: A print statement whether or not the number is prime
    This function checks for prime numbers
    """
    for n in range(2,num):
        if num % n == 0:
            print('Not Prime')
            break
    else: 
        print('The number is prime!')

In [37]:
is_prime(1)

The number is prime!

In [40]:
def square(num):
    result = num**2
    return result

In [41]:
square(2)

4

In [42]:
def square(num):
    return num**2

In [43]:
square(4)

16

In [44]:
def square(num): return num**2

In [45]:
square(16)

256

In [49]:
square2 = lambda num: num**2

In [50]:
square2(10)

100

In [51]:
# Check if a number is even

In [53]:
even = lambda num: num % 2 ==0

In [54]:
even(4)

True

In [55]:
def even(num):
    return num%2 == 0

In [56]:
even(10)

True

In [57]:
#Grabs first character of a string

In [58]:
first = lambda s: s[0]

In [59]:
first('hello')

'h'

In [60]:
rev = lambda s: s[::-1]

In [61]:
rev('hello')

'olleh'

In [62]:
def adder (x,y):
    return x+y

In [63]:
adder (10,12)

22

In [64]:
adder = lambda x,y: x+y

In [65]:
adder(30,30)

60

In [67]:
len_check = lambda item: len(item)

In [69]:
len_check('how many chars does this sting have?')

36

In [2]:
def sum_double(a, b):
  if a == b:
    return 2*(a+b)
  else:
    return a+b

In [4]:
sum_double(2,2)

8

In [8]:
def parrot_trouble(talking, hour):
  if hour < 7 or hour > 19 & talking == True:
    return "True"
  elif talking == False: 
    return "True"
  elif hour > 6 or hour < 21 & talking == False:
    return "False"
  else: 
    return "True"